{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <select id="form2" class="form-select" aria-label="Default select example">
        <option selected id="soma">Somar</option>
        <option id="dimi" >Diminuir</option>
        <option id="divi" >Dividir</option>
        <option id="mul"  >Multiplicar</option>
        <option id="porc" >Porcentagem</option>
      </select>
    <form id="form1" action="" method="POST">

        {% csrf_token %}  
        <INput id="num1" type="number" name="somar1"></INput> <br>
        <INput id="num2" type="number" name="somar2"></INput><br>
        <button id="cal" >Calcular</button><br>

        <input id="resul" value= {{ resul }}></input>
    

    
     
    </form>


        
    

    

    
</body>
</html>